esb/etc/core/cdm/samples_customer/cdm.xsd

<?xml version="1.0" encoding="utf-8"?>
<cdm:schema xmlns:cdm="http://www.w3.org/2001/XMLSchema"> 
  <cdm:element name="samples_customer">
		<cdm:complexType>
      <cdm:sequence>      
        <cdm:element name="id" type="cdm:string" />        
        <cdm:element name="email" type="cdm:string" />        
        <cdm:element name="firstname" type="cdm:string" />        
        <cdm:element name="lastname" type="cdm:string" />
        <cdm:element name="gender" type="cdm:string" />                
      </cdm:sequence>
    </cdm:complexType>
	</cdm:element>
</cdm:schema>