src/ETL/etc/core/cdm/product/cdm.xsd

<?xml version="1.0" encoding="utf-8"?>
<cdm:schema xmlns:cdm="http://www.w3.org/2001/XMLSchema"> 
  <cdm:element name="product">
    <cdm:complexType>
      <cdm:sequence>
       <cdm:element name="product_id"                 type="cdm:string" />
       <cdm:element name="set"                        type="cdm:string" />
       <cdm:element name="category_ids"               type="cdm:string" />
       <cdm:element name="category_id"                type="cdm:string" />
       <cdm:element name="website_ids"                type="cdm:string" />
       <cdm:element name="country_of_manufacture"     type="cdm:string" />
       <cdm:element name="custom_design"              type="cdm:string" />
       <cdm:element name="custom_design_from"         type="cdm:string" />
       <cdm:element name="custom_design_to"           type="cdm:string" />
       <cdm:element name="custom_layout_update"       type="cdm:string" />
       <cdm:element name="description"                type="cdm:string" />
       <cdm:element name="enable_googlecheckout"      type="cdm:string" />
       <cdm:element name="gift_message_available"     type="cdm:string" />
       <cdm:element name="gift_wrap_available"        type="cdm:string" />
       <cdm:element name="gift_wrapping_price"        type="cdm:string" />
       <cdm:element name="group_price"                type="cdm:string" />
       <cdm:element name="image"                      type="cdm:string" />
       <cdm:element name="is_recurring"               type="cdm:string" />
       <cdm:element name="manufacturer"               type="cdm:string" />
       <cdm:element name="media_gallery"              type="cdm:string" />
       <cdm:element name="meta_description"           type="cdm:string" />
       <cdm:element name="meta_keyword"               type="cdm:string" />
       <cdm:element name="meta_title"                 type="cdm:string" />
       <cdm:element name="msrp"                       type="cdm:string" />
       <cdm:element name="msrp_display_actual_price_type" type="cdm:string" />
       <cdm:element name="msrp_enabled"               type="cdm:string" />
       <cdm:element name="name"                       type="cdm:string" />
       <cdm:element name="news_from_date"             type="cdm:string" />
       <cdm:element name="news_to_date"               type="cdm:string" />
       <cdm:element name="is_new"               type="cdm:string" />
       <cdm:element name="ocp_age"                    type="cdm:string" />
       <cdm:element name="ocp_brand"                  type="cdm:string" />
       <cdm:element name="ocp_carton_height"          type="cdm:string" />
       <cdm:element name="ocp_carton_length"          type="cdm:string" />
       <cdm:element name="ocp_carton_width"           type="cdm:string" />
       <cdm:element name="ocp_cost"                   type="cdm:string" />
       <cdm:element name="ocp_customs_code"           type="cdm:string" />
       <cdm:element name="ocp_ean"                    type="cdm:string" />
       <cdm:element name="ocp_eco_tax"                type="cdm:string" />
       <cdm:element name="ocp_functionnal"            type="cdm:string" />
       <cdm:element name="ocp_instruction"            type="cdm:string" />
       <cdm:element name="ocp_label"                  type="cdm:string" />
       <cdm:element name="ocp_margin"                 type="cdm:string" />
       <cdm:element name="ocp_margin_rate"            type="cdm:string" />
       <cdm:element name="ocp_promotion_type"         type="cdm:string" />
       <cdm:element name="ocp_original_date"         type="cdm:string" />
       <cdm:element name="ocp_original_price"         type="cdm:string" />
       <cdm:element name="ocp_marketing_axis1"        type="cdm:string" />
       <cdm:element name="ocp_marketing_axis2"        type="cdm:string" />
       <cdm:element name="ocp_marketing_axis3"        type="cdm:string" />
       <cdm:element name="ocp_marketing_axis4"        type="cdm:string" />
       <cdm:element name="ocp_marketing_bestseller"   type="cdm:string" />
       <cdm:element name="ocp_marketing_boolean1"     type="cdm:string" />
       <cdm:element name="ocp_marketing_boolean2"     type="cdm:string" />
       <cdm:element name="ocp_marketing_list1"        type="cdm:string" />
       <cdm:element name="ocp_marketing_list2"        type="cdm:string" />
       <cdm:element name="ocp_marketing_numeric1"     type="cdm:string" />
       <cdm:element name="ocp_marketing_numeric2"     type="cdm:string" />
       <cdm:element name="ocp_marketing_text1"        type="cdm:string" />
       <cdm:element name="ocp_marketing_text2"        type="cdm:string" />
       <cdm:element name="ocp_pcb_supplier"           type="cdm:string" />
       <cdm:element name="ocp_price_percent"          type="cdm:string" />
       <cdm:element name="ocp_price_percent_apply"    type="cdm:string" />
       <cdm:element name="ocp_range_level"            type="cdm:string" />
       <cdm:element name="ocp_range_products"         type="cdm:string" />
       <cdm:element name="ocp_rich_media_360"         type="cdm:string" />
       <cdm:element name="ocp_sku_supplier"           type="cdm:string" />
       <cdm:element name="ocp_trucker_all"            type="cdm:string" />
       <cdm:element name="ocp_warranty_comments"      type="cdm:string" />
       <cdm:element name="ocp_warranty_duration"      type="cdm:string" />
       <cdm:element name="ocp_weight_net"             type="cdm:string" />
       <cdm:element name="options_container"          type="cdm:string" />
       <cdm:element name="page_layout"                type="cdm:string" />
       <cdm:element name="price"                      type="cdm:string" />
       <cdm:element name="price_view"                 type="cdm:string" />
       <cdm:element name="recurring_profile"          type="cdm:string" />
       <cdm:element name="short_description"          type="cdm:string" />
       <cdm:element name="sku"                        type="cdm:string" minOccurs="1" />
       <cdm:element name="ocp_product_sku"            type="cdm:string"/>
       <cdm:element name="small_image"                type="cdm:string" />
       <cdm:element name="special_from_date"          type="cdm:string" />
       <cdm:element name="special_price"              type="cdm:string" />
       <cdm:element name="special_to_date"            type="cdm:string" />
       <cdm:element name="status"                     type="cdm:string" />
       <cdm:element name="tax_class_id"               type="cdm:string" />
       <cdm:element name="thumbnail"                  type="cdm:string" />
       <cdm:element name="tier_price"                 type="cdm:string" />
       <cdm:element name="url_key"                    type="cdm:string" />
       <cdm:element name="visibility"                 type="cdm:string" />
       <cdm:element name="weight"                     type="cdm:string" />
       
       <cdm:element name="ocp_included_accessories"   type="cdm:string" />
       <cdm:element name="ocp_supply"                 type="cdm:string" />
       <cdm:element name="ocp_uv_filter"              type="cdm:string" />
       <cdm:element name="ocp_headrest"               type="cdm:string" />
       <cdm:element name="ocp_play_arch"              type="cdm:string" />
       <cdm:element name="ocp_author"                 type="cdm:string" />
       <cdm:element name="ocp_fixation_base"          type="cdm:string" />
       <cdm:element name="ocp_cup"                    type="cdm:string" />
       <cdm:element name="ocp_shield"                 type="cdm:string" />
       <cdm:element name="ocp_hood"                   type="cdm:string" />
       <cdm:element name="ocp_size_code"              type="cdm:string" />
       <cdm:element name="ocp_collection"             type="cdm:string" />
       <cdm:element name="ocp_composition"             type="cdm:string" />
       <cdm:element name="ocp_compatibility"          type="cdm:string" />
       <cdm:element name="ocp_capacity"               type="cdm:string" />
       <cdm:element name="color"                      type="cdm:string" />
       <cdm:element name="ocp_color"                  type="cdm:string" />
       <cdm:element name="ocp_publication_date"       type="cdm:string" />
       <cdm:element name="ocp_flow"                   type="cdm:string" />
       <cdm:element name="ocp_decor"                  type="cdm:string" />
       <cdm:element name="ocp_uv_level"               type="cdm:string" />
       <cdm:element name="ocp_detection"              type="cdm:string" />
       <cdm:element name="ocp_height_closed"          type="cdm:string" />
       <cdm:element name="ocp_width_closed"           type="cdm:string" />
       <cdm:element name="ocp_length_closed"          type="cdm:string" />
       <cdm:element name="ocp_height_open"            type="cdm:string" />
       <cdm:element name="ocp_width_open"             type="cdm:string" />
       <cdm:element name="ocp_length_open"            type="cdm:string" />
       <cdm:element name="ocp_wheel_mesure"           type="cdm:string" />
       <cdm:element name="ocp_publisher"              type="cdm:string" />
       <cdm:element name="ocp_stackable"              type="cdm:string" />
       <cdm:element name="ocp_environment"            type="cdm:string" />
       <cdm:element name="ocp_evolving"               type="cdm:string" />
       <cdm:element name="ocp_finishing"              type="cdm:string" />
       <cdm:element name="ocp_function"               type="cdm:string" />
       <cdm:element name="ocp_format"                 type="cdm:string" />
       <cdm:element name="ocp_kind"                   type="cdm:string" />
       <cdm:element name="ocp_handlebars"             type="cdm:string" />
       <cdm:element name="ocp_harness"                type="cdm:string" />
       <cdm:element name="ocp_heel_height"            type="cdm:string" />
       <cdm:element name="ocp_impermeability"         type="cdm:string" />
       <cdm:element name="ocp_language"               type="cdm:string" />
       <cdm:element name="ocp_machine_wash"           type="cdm:string" />
       <cdm:element name="ocp_dishwasher"             type="cdm:string" />
       <cdm:element name="ocp_matter"                 type="cdm:string" />
       <cdm:element name="ocp_lining_matter"          type="cdm:string" />
       <cdm:element name="ocp_external_sole_matter"   type="cdm:string" />
       <cdm:element name="ocp_internal_sole_matter"   type="cdm:string" />
       <cdm:element name="ocp_external_matter"        type="cdm:string" />
       <cdm:element name="ocp_microwave"              type="cdm:string" />
       <cdm:element name="ocp_model"                  type="cdm:string" />
       <cdm:element name="ocp_pattern"                type="cdm:string" />
       <cdm:element name="ocp_pocket_numbers"         type="cdm:string" />
       <cdm:element name="ocp_position_number"        type="cdm:string" />
       <cdm:element name="ocp_perfum"                 type="cdm:string" />
       <cdm:element name="ocp_energetics_performance" type="cdm:string" />
       <cdm:element name="ocp_flexible"               type="cdm:string" />
       <cdm:element name="ocp_weight_max"             type="cdm:string" />
       <cdm:element name="ocp_weight_min"             type="cdm:string" />
       <cdm:element name="ocp_shoes_size"             type="cdm:string" />
       <cdm:element name="ocp_road_position"          type="cdm:string" />
       <cdm:element name="ocp_rain_protection"        type="cdm:string" />
       <cdm:element name="ocp_protected_belt"         type="cdm:string" />
       <cdm:element name="ocp_lateral_reinforcement"  type="cdm:string" />
       <cdm:element name="ocp_footrest"               type="cdm:string" />
       <cdm:element name="ocp_season"                 type="cdm:string" />
       <cdm:element name="ocp_screenprinting"         type="cdm:string" />
       <cdm:element name="ocp_gender"                 type="cdm:string" />
       <cdm:element name="ocp_seat_tilting"           type="cdm:string" />
       <cdm:element name="ocp_fixing_system"          type="cdm:string" />
       <cdm:element name="ocp_size"                   type="cdm:string" />
       <cdm:element name="ocp_breast_measurement"     type="cdm:string" />
       <cdm:element name="ocp_hat_size"               type="cdm:string" />
       <cdm:element name="ocp_siting_type"            type="cdm:string" />
       <cdm:element name="ocp_collar_type"            type="cdm:string" />
       <cdm:element name="ocp_cut_type"               type="cdm:string" />
       <cdm:element name="ocp_fastening_type"         type="cdm:string" />
       <cdm:element name="ocp_toy_type"               type="cdm:string" />
       <cdm:element name="ocp_sleeve_type"            type="cdm:string" />
       <cdm:element name="ocp_portage_type"           type="cdm:string" />
       <cdm:element name="ocp_internal_sole_type"     type="cdm:string" />
       <cdm:element name="ocp_glass_type"             type="cdm:string" />
       <cdm:element name="ocp_use"                    type="cdm:string" />
       <cdm:element name="ocp_rocking_speed"          type="cdm:string" />
       <cdm:element name="ocp_code_customs"           type="cdm:string" />
       <cdm:element name="ocp_popularity"           type="cdm:string" />
       
       <cdm:element name="attribute_set"              type="cdm:string" />
       <cdm:element name="type"                       type="cdm:string" />
       <cdm:element name="type_id"                    type="cdm:string" />
       <cdm:element name="entity_type_id"             type="cdm:string" />
       <cdm:element name="categories"                 type="cdm:string" />
       <cdm:element name="qty"                        type="cdm:string" />
       <cdm:element name="is_in_stock"                type="cdm:string" />
       <cdm:element name="simples_skus"               type="cdm:string" />
       <cdm:element name="configurable_child_attributes"    type="cdm:string" />
       <cdm:element name="configurable_child_ids"     type="cdm:string" />
       <cdm:element name="image_label"                type="cdm:string" />
       <cdm:element name="small_image_label"          type="cdm:string" />
       <cdm:element name="thumbnail_label"            type="cdm:string" />
       <cdm:element name="request_path"               type="cdm:string" />
       <cdm:element name="is_in_stock"                type="cdm:string" />
       <cdm:element name="is_salable"                 type="cdm:string" />
       <cdm:element name="final_price"                type="cdm:string" />
       <cdm:element name="parent_id"                  type="cdm:string" />
       <cdm:element name="min_price"                  type="cdm:string" />
       <cdm:element name="max_price"                  type="cdm:string" />
       <cdm:element name="tier_price"                 type="cdm:string" />
       <cdm:element name="minimal_price"              type="cdm:string" />
       <cdm:element name="attribute_set_id"           type="cdm:string" />
       <cdm:element name="website_id"                 type="cdm:string" />
       
       <!--<cdm:element name="additional_attributes">
         <cdm:complexType>
           <cdm:sequence>
             <cdm:element name="single_data"/>
           </cdm:sequence>
         </cdm:complexType>
       </cdm:element>-->
        
      </cdm:sequence>
    </cdm:complexType>
  </cdm:element>
</cdm:schema>