src/ETL/etc/core/cdm/product_attributes_options/cdm.xsd

<?xml version="1.0" encoding="utf-8"?>
<cdm:schema xmlns:cdm="http://www.w3.org/2001/XMLSchema"> 
  <cdm:element name="product_attributes">
     <cdm:complexType>
      <cdm:sequence>
        <cdm:element name="classification"     type="cdm:string" />
        <cdm:element name="rang"     type="cdm:string" />
        <cdm:element name="store_id"           type="cdm:string" />
        <cdm:element name="attribute_code"     type="cdm:string" />
        <cdm:element name="admin"              type="cdm:string" />
        <cdm:element name="label"              type="cdm:string" />
      </cdm:sequence>
    </cdm:complexType>
  </cdm:element>
</cdm:schema>