src/ETL/etc/core/cdm/store/cdm.xsd

<?xml version="1.0" encoding="utf-8"?>
<cdm:schema xmlns:cdm="http://www.w3.org/2001/XMLSchema"> 
  <cdm:element name="shops">
		<cdm:complexType>
      <cdm:sequence>
        <cdm:element name="id" type="cdm:unsignedLong" />
        <cdm:element name="name" type="cdm:string" />
      </cdm:sequence>
    </cdm:complexType>
	</cdm:element>
</cdm:schema>